.box{
	/* 继承 */
	/* 子元素会继承父元素的字体颜色 */
	color: pink;
	
	/* 文本居中 */
	text-align: center;
	/* 下划线 */
	text-decoration: underline;
	/* 字体大小 */
	font-size: 20px;
	/* 字体粗细 */
	font-weight: 100;
	/* 行高 在垂直方向居中 */
	line-height: 100px;
}

/* 优先级 */
#text{
	color: aqua;
}
.text{
	color: red !important;
}